.user-form {
    max-width: 80vh;
    height: 70vh;
    margin: 0 auto;
    padding: 3vh;
    margin-top: 10vh;
    border: 1px solid #ccc;
    border-radius: 2vh;
    box-shadow: 0 0 10vh rgba(0, 0, 0, 0.1);
    background-color: rgb(251, 246, 246);
  }
  
  .user-form h2 {
    font-size: 1.5rem;
    margin-bottom: 2vh;
    text-align: center;
  }
  
  .user-form button{
    background-color: #4caf50;
    width: 14vh;
    height: 4.5vh;
  }

  .form-group {
    margin-bottom: 2vh;
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 1vh;
  }
  
  input {
    width: 100%;
    padding: 0.6vh;
    border: 1px solid #ccc;
    border-radius: 4vh;
    box-sizing: border-box;
  }
  
  button {
    background-color: #4caf50;
    color: white;
    padding: 10vh 15vw;
    border: none;
    border-radius: 1vh;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  .submitting {
   
    height: 5vh;
    padding: 1vh;
    width: 2vh;
  }

  .submitting button{
    width: 8vh;
    height: 3vh;
  }